.navbar {
	width: 100%;
	height: 70px;
	background-color: #3bb19b;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.main_container {
	display: flex;
	flex-direction: column; /* Stack children vertically */
	align-items: center; /* Center horizontally */
	height: 100vh; /* Adjust the height based on your layout */
  }
  

.navbar h1 {
	color: white;
	font-size: 25px;
	margin-left: 20px;
}

.white_btn {
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: white;
	border-radius: 20px;
	width: 120px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
	margin-right: 20px;
}

.timeslot_cards {
	display: flex;
	gap: 10px;
	margin-top: 10px;
  }
  
  .timeslot_card {
	flex: 1;
	padding: 20px;
	border: 1px solid #ccc;
	text-align: center;
	cursor: pointer;
	background-color: #f9f9f9;
	transition: background-color 0.3s;
  }
  
  .timeslot_card:hover {
	background-color: #e0e0e0;
  }
  
  .selected {
	background-color: #3498db;
	color: #fff;
  }
  
  .modal {
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
  }
  
  .modal p {
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	text-align: center;
  }
  
  .green_btn {
	background-color: #27ae60;
	color: #fff;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
	font-size: 16px;
	border-radius: 4px;
  }

  /* Add these styles to your existing CSS file or create a new one */

.selected_slot {
	border: 2px solid #3498db;
	border-radius: 8px;
	padding: 16px;
	margin-top: 20px;
	background-color: #ecf0f1;
	width: 90%;
  }
  
  .selected_slot h2 {
	font-size: 1.5em;
	color: #2c3e50;
	margin-bottom: 10px;
  }
  
  .selected_slot p {
	margin: 8px 0;
	font-size: 1.1em;
	color: #34495e;
  }
  
  .selected_slot strong {
	font-weight: bold;
	color: #e74c3c;
  }
  

  .timeslot_container{
	display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center horizontally */
  height: 100vh;
  width: 40%;
  } 

